
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title mb-4">Edit <%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <%= f.text_field :first_name, id: 'name_field', autofocus: true, autocomplete: "first", class: 'form-control', placeholder: 'Firs Name' %>
                <%= f.label :first_name, for: 'name_field'%>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <%= f.text_field :last_name, id: 'last_field', autocomplete: "last", class: 'form-control', placeholder: 'Last Name' %>
                <%= f.label :last_name, for: 'last_field'%>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <%= f.email_field :email, id: 'email_field', autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
            <%= f.label :email, for: 'email_field'%>
          </div>
          
          <div class="form-floating mb-3">
            <%= f.password_field :password, id: 'pass_field', autocomplete: "new-password", class: 'form-control', 'aria-describedby': "passwordHelp", placeholder: 'Password' %>
            <%= f.label :password, id: 'pass_field' %>
            <% if @minimum_password_length %>
              <div id="passwordHelp" class="form-text"><em>(<%= @minimum_password_length %> characters minimum)</em></div>
            <% end %>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password_confirmation, id: 'conf_field', autocomplete: "new-password", class: 'form-control', placeholder: 'Password Confirmation' %>
            <%= f.label :password_confirmation, for: 'conf_field' %>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :current_password, id: 'curr_field', autocomplete: "curr-password", class: 'form-control', 'aria-describedby': "passwordHelp2", placeholder: 'Password' %>
            <%= f.label :current_password, id: 'curr_field' %>
            <div id="passwordHelp2" class="form-text"><em>We need your current password to save your changes.</em></div>
          </div>

          <div class="mb-3">
            <%= f.submit "Update", class: 'btn btn-success' %>
          </div>
        <% end %>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), class: 'link-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>
