<h1>My Portfolio</h1>
<h6 class="text-muted fw-normal">Stock pricings!</h6>

<div class="row mt-5">
  <div class="col-lg-9">
    <%= form_tag search_stock_path, remote: true, method: :get do %>
      <div class="mb-3">
        <%= label_tag 'stock', 'Search stocks', class: 'form-label' %>
        <div class="input-group mb-3">
          <%= text_field_tag :stock, params[:stock], id: 'stock', placeholder: 'e.g. AAPL', autofocus: true, class: 'form-control text-uppercase', 'aria-describedby': 'button-addon2', required: true %>
          <%= button_tag type: :submit, class: 'btn btn-warning', id: 'button-addon2' do %>
            <%= fa_icon 'search' %>&nbsp;
            Search
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-9" id="results"></div>
</div>
