<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container py-2">
    <div class="d-flex align-items-center">
      <%= link_to fa_icon('dollar sign', text: 'FinTracker'), root_path, class: 'navbar-brand fw-bold fs-3 text-warning me-4' %>
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-2"><%= link_to 'Portfolio', portfolio_path, class: "nav-link #{' active' if request.path == portfolio_path}"%></li>
        <li class="nav-item"><%= link_to 'Friends', '#', class: "nav-link #{' active' if request.path == "todo"}"%></li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <% if not user_signed_in? %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-success me-2' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-info me-2' %>
      <% end %>
      <button class="navbar-toggler hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <%= fa_icon 'bars', class: 'text-warning' %>
      </button>
    </div>
    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-white">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FinTracker</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item"><%= link_to 'Portfolio', portfolio_path, class: "nav-link #{' active' if request.path == portfolio_path}"%></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
            <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.full_name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="offcanvasNavbarDropdown">
                <li>
                  <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
                </li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <% if user_signed_in? %>
                  <li>
                    <hr class="dropdown-divider">
                  </li>

                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
                <% end %>
              </ul>
            </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>